h1{
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
    ul{ 
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
    }
    h2{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
     }
    h3{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
        }
    p{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
        }
    code{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
        }
    a{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
        }
    pre{
        font-family: sans-serif;
        font-size: 14px;
        background-color: #eee;
    }