 h1{
            font-family: fantasy;
            font-size: 18px;
            background-color: #eee;
        }
        ul{ 
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;}
            h2{
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;
            }
            h3{
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;
            }
            p{
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;
            }
            code{
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;
            }
            a{
                font-family: fantasy;
                font-size: 14px;
                background-color: #eee;
            }